@charset "utf-8";
/* CSS Document */
body  {
    margin: 0; 
    padding: 0;
    text-align: center;
    padding-top:30px;
}

div{
	text-align:center;
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
	vertical-align: top;
}
